/* Stylesheet for mobile App*/
/* Reset */

/*font 

    font-family: 'Cinzel', serif;

    font-family: 'Domine', serif;s

*/
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6

{
    margin:0;
    padding:0;
}
body{
    background-color:rebeccapurple;
    
}
div#container{
    width:100%;
    border:3px dashed red;
    background-color:darkred;
}
header{
    width:auto;
    padding:50px;
    background-color: blueviolet;
}
header img#applogo{
    display:block;
    margin:auto;
    width:200px;
}
header h1{
    color:black; 
    text-align: center;
     font-family: 'Cinzel', serif;
    font-size: 4.5em;
}
div#content{
    width:100%;
    background-color:darkred;
    
}
div#content h3{
    text-align:center;
}
/*
nav{
    background-color: palevioletred;
    color:azure;
    font-family: 'Domine', serif;
    font-size:1.5em;
}
nav ul{
    list-style: none;
}
nav ul li{
    float:left;
    display: block;
    padding:5px 15px;
    border-right: 1px solid #102;
    color:black;
    text-decoration:none;
}
nav ul li a:hover{
    background-color:black;
    color:antiquewhite;
}
*/
.icon-bar {
    position:fixed;
    bottom:0;
    left:0;
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}
.icon-bar a:hover {
    background-color: #000;
}
.active {
    background-color: #ffa20e
}
/*

footer{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    background-color: lightpink;
}
*/
div#product_grp{
	max-width:60%;
	min-width:20%;
	margin:auto;
}

figure.product{
	display:block;
	float:left;
	margin:10px 15px;
	min-width:30%;
	max-width:45%;
	background-color: darkgreen;
	border-radius:5%;
}

figure.product img{
	display:block;
	padding:10px 0;
	width:80%;
	margin:auto;
}

figure.product figcaption{
	text-align: center;
	color:white;
	font-family: fantasy;
	font-size:24px;
}

div.keepOpen{
	clear: both;
}

@media screen and (max-width: 600px) {
	figure.product{
		float:none;
		margin:10px auto;
		min-width:50%;
		max-width:100%;
		background-color: darkgreen;
		border-radius:5%;
	}
	figure.product figcaption{
	text-align: center;
	color:white;
	font-family: fantasy;
	font-size:12px;
}

}


