/* Stylesheet for mobile App*/
/* Reset */

/*font 

    font-family: 'Cinzel', serif;

    font-family: 'Domine', serif;s

*/
html,body,div,p,ul,ol,li,h1,h2,h3,h4,h5,h6

{
    margin:0;
    padding:0;
}
body{
    background-color:rebeccapurple;
    
}
div#container{
    width:100%;

    border:3px dashed red;
    background-color: darkred;
}
header{
width:94.2%;
    padding:50px;
    background-color: blueviolet;
}
header img#applogo{
    display:block;
    margin:auto;
    width:200px;
}
header h1{
    color:black; 
     font-family: 'Cinzel', serif;
    font-size: 4.5em;
}
div#content{
    width:100%;
    background-color:darkred;
    
}
/*
nav{
    background-color: palevioletred;
    color:azure;
    font-family: 'Domine', serif;
    font-size:1.5em;
}
nav ul{
    list-style: none;
}
nav ul li{
    float:left;
    display: block;
    padding:5px 15px;
    border-right: 1px solid #102;
    color:black;
    text-decoration:none;
}
nav ul li a:hover{
    background-color:black;
    color:antiquewhite;
}
*/
.icon-bar {
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}
.icon-bar a:hover {
    background-color: #000;
}
.active {
    background-color: #ffa20e
}
/*
footer{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    background-color: lightpink;
}
div.keepOpen{
    clear: both;
    
}

@media screen and (max-width: 600px){
    div#container{
        width:100%;
    }
    
    nav ul li a{
        float:none;
        text-align:center;
    }
}
*/